<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzw.mapper.ActiveMapper" >

   <select id="loadChouJiang" parameterType="map" resultType="com.tzw.pojo.Item">
     SELECT * from tzw_item t,tzw_choujiang c
      where t.tzw_item_id=c.tzw_choujiang_item_id and t.tzw_item_choujiang=3
      limit #{cpage},#{size}
    </select>

   <select id="loadJiFen" parameterType="map" resultType="com.tzw.pojo.Item">
   SELECT * from tzw_item t,tzw_jifen c
   where t.tzw_item_id=c.tzw_jifen_item_id and t.tzw_item_jifen=5
      limit #{cpage},#{size}
    </select>

   <select id="loadJingPai" parameterType="map" resultType="com.tzw.pojo.Item">
      SELECT * from tzw_item t,tzw_jingpai c
       where t.tzw_item_id=c.tzw_jingpai_item_id and t.tzw_item_jingpai=7
      limit #{cpage},#{size}
    </select>

    <!--所有活动-->
    <select id="loadActive" parameterType="map" resultType="com.tzw.pojo.Activity">
      SELECT * from tzw_activity
      limit #{cpage},#{size}
    </select>

    <select id="chouJiangCount" resultType="int">
 SELECT count(*) from tzw_item t where t.tzw_item_choujiang=3
    </select>
    <select id="jiFenCount" resultType="int">
 SELECT count(*) from tzw_item t where t.tzw_item_jifen=5
    </select>
    <select id="jingPaiCount" resultType="int">
 SELECT count(*) from tzw_item t where t.tzw_item_jingpai=7
    </select>

    <!--查询活动个数-->
    <select id="activeCount" resultType="int">
     SELECT count(*) from tzw_activity
    </select>

    <!--从抽奖商品中删除 传商品id-->

    <delete id="deleteChouJiang" parameterType="bigInteger">
      delete from tzw_choujiang where tzw_choujiang_item_id=#{tzw_item_id}
    </delete>

    <delete id="deleteJiFen" parameterType="bigInteger">
      delete from tzw_jifen where tzw_jifen_item_id=#{tzw_item_id}
    </delete>

    <delete id="deleteJingPai" parameterType="bigInteger">
      delete from tzw_jingpai where tzw_jingpai_item_id=#{tzw_item_id}
    </delete>
    <!--删除需要修改表-->
    <update id="upItemChou" parameterType="bigInteger">
        UPDATE tzw_item set tzw_item_choujiang=4 where tzw_item_id=#{tzw_item_id}
    </update>
    <update id="upItemJi" parameterType="bigInteger">
        UPDATE tzw_item set tzw_item_jifen=6 where tzw_item_id=#{tzw_item_id}
    </update>
    <update id="upItemJing" parameterType="bigInteger">
        UPDATE tzw_item set tzw_item_jingpai=8 where tzw_item_id=#{tzw_item_id}
    </update>
    <!--修改回显-->
    <select id="findcByItemId" parameterType="bigInteger" resultType="com.tzw.pojo.Item">
        SELECT  * from tzw_item a,tzw_choujiang b where a.tzw_item_id=b.tzw_choujiang_item_id AND a.tzw_item_id=#{tzw_item_id}
    </select>

    <select id="findjiByItemId" parameterType="bigInteger" resultType="com.tzw.pojo.Item">
        SELECT  * from tzw_item a,tzw_jifen b where a.tzw_item_id=b.tzw_jifen_item_id AND a.tzw_item_id=#{tzw_item_id}
    </select>

    <select id="findjByItemId" parameterType="bigInteger" resultType="com.tzw.pojo.Item">
        SELECT  * from tzw_item a,tzw_jingpai b where a.tzw_item_id=b.tzw_jingpai_item_id AND a.tzw_item_id=#{tzw_item_id}
    </select>

    <!--修改抽奖提交-->
    <update id="updatecByItemId" parameterType="com.tzw.pojo.Choujiang">
        update tzw_choujiang SET tzw_choujiang_updateDate=#{tzw_choujiang_updateDate},
                                   tzw_choujiang_houNum=#{tzw_choujiang_houNum},
                                   tzw_choujiang_preNum=#{tzw_choujiang_preNum},

                                   tzw_choujiang_jifen=#{tzw_choujiang_jifen},
                                   tzw_choujiang_yue=#{tzw_choujiang_yue},
                                   tzw_choujiang_xianjin=#{tzw_choujiang_xianjin}

                                   where tzw_choujiang_item_id=#{tzw_choujiang_item_id}
    </update>

    <!--修改积分提交-->
    <update id="updatejiByItemId" parameterType="com.tzw.pojo.JiFen">
        update tzw_jifen SET tzw_jifen_updateDate=#{tzw_jifen_updateDate},
                              tzw_jifen_xianjin=#{tzw_jifen_xianjin},
                              tzw_jifen_yue=#{tzw_jifen_yue},
                              tzw_jifen_num=#{tzw_jifen_num}
                                   where tzw_jifen_item_id=#{tzw_jifen_item_id}
    </update>

    <!--修改竞拍提交-->
    <update id="updatejByItemId" parameterType="com.tzw.pojo.JingPai">
        update tzw_jingpai SET tzw_jingpai_updateDate=#{tzw_jingpai_updateDate},
                                   tzw_jingpai_liupai=#{tzw_jingpai_liupai},
                                   tzw_jingpai_yue=#{tzw_jingpai_yue},
                                   tzw_jingpai_jifen=#{tzw_jingpai_jifen},
                                   tzw_jingpai_xianjin=#{tzw_jingpai_xianjin},
                                   tzw_jingpai_num=#{tzw_jingpai_num}
                            where tzw_jingpai_item_id=#{tzw_jingpai_item_id}
    </update>


<!--
    活动添加提交
    activey_add_commit
-->

    <insert id="activey_add_commit" parameterType="com.tzw.pojo.Activity">
        INSERT into tzw_activity(
              tzw_activity_name,
              tzw_activity_createDate,
              tzw_activity_picture,
              tzw_activity_rule
        ) VALUES (#{tzw_activity_name},
        #{tzw_activity_createDate},
        #{tzw_activity_picture},
        #{tzw_activity_rule})
    </insert>

<!--    void active_update_commit(Activity activity);
    Activity findActivityById(BigInteger tzw_activity_id);-->

    <!--活动回显-->

    <select id="findActivityById" parameterType="bigInteger" resultType="com.tzw.pojo.Activity">
        SELECT * from tzw_activity where tzw_activity_id=#{tzw_activity_id}
    </select>

    <!--活动修改提交-->
    <update id="active_update_commit" parameterType="com.tzw.pojo.Activity">

        update tzw_activity set
               tzw_activity_name=#{tzw_activity_name},
               tzw_activity_updateDate=#{tzw_activity_updateDate},
               tzw_activity_picture=#{tzw_activity_picture},
               tzw_activity_rule=#{tzw_activity_rule}
        where tzw_activity_id=#{tzw_activity_id}  </update>



</mapper>
