<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzw.mapper.ItemMapper" >

    <select id="itemList" resultType="com.tzw.pojo.Item">

        select t1.tzw_item_id,t1.tzw_item_name,t1.tzw_item_price,t1.tzw_item_num,
        t1.tzw_item_jifen,t1.tzw_item_choujiang,t1.tzw_item_jingpai,
        t1.tzw_item_status,t1.tzw_item_picture,t1.tzw_item_desc,t1.tzw_item_status1,tzw_item_type,tzw_item_leibie
         from tzw_item t1
    </select>

    <select id="findItemById" parameterType="bigInteger" resultType="com.tzw.pojo.Item">
         select t1.tzw_item_id,t1.tzw_item_name,t1.tzw_item_price,t1.tzw_item_num,
        t1.tzw_item_status,t1.tzw_item_picture,t1.tzw_item_desc,t1.tzw_item_jingpai,
        t1.tzw_item_choujiang,t1.tzw_item_content,t1.tzw_item_new,t1.tzw_item_jifen,tzw_item_type,tzw_item_leibie
         from tzw_item t1 WHERE t1.tzw_item_id=#{t1.tzw_item_id}
    </select>

    <select id="selectByMap" resultType="com.tzw.pojo.Item" parameterType="map">
        select t1.tzw_item_id,t1.tzw_item_name,t1.tzw_item_price,t1.tzw_item_num,
        t1.tzw_item_status,t1.tzw_item_picture,t1.tzw_item_desc,t1.tzw_item_createDate,t1.tzw_item_updateDate,
        t1.tzw_item_jifen,t1.tzw_item_choujiang,t1.tzw_item_content,t1.tzw_item_new,t1.tzw_item_jingpai,tzw_item_type,tzw_item_leibie
        from tzw_item t1

    <if test="lname!=null">

            WHERE t1.tzw_item_name LIKE  concat('%',#{lname},'%')

        </if>
        limit #{cpage},#{size}
    </select>

    <select id="peopleNum" resultType="int" parameterType="bigInteger">
    SELECT count(*) from tzw_order m where m.tzw_order_user_id=#{tzw_order_user_id}
    </select>


    <select id="getTotal" resultType="int" parameterType="map">

        select count(*) from tzw_item t1

        <if test="lname!=null">

            WHERE t1.tzw_item_name LIKE  concat('%',#{lname},'%')

        </if>
    </select>

    <delete id="del" parameterType="bigInteger" >
        DELETE  from tzw_item where tzw_item_id=#{tzw_item_id}
    </delete>


    <insert id="addItem" parameterType="com.tzw.pojo.Item">
        insert into tzw_item(tzw_item_name,
                              tzw_item_price,
                              tzw_item_num,
                              tzw_item_status,
                              tzw_item_desc,
                              tzw_item_picture,
                              tzw_item_createDate,
                              tzw_item_jifen,
                              tzw_item_jingpai,
                              tzw_item_content,
                              tzw_item_new,
                              tzw_item_type,
                              tzw_item_leibie,
                              tzw_item_choujiang
                              )
                      values(#{tzw_item_name},
                              #{tzw_item_price},
                              #{tzw_item_num},
                              #{tzw_item_status},
                              #{tzw_item_desc},
                              #{tzw_item_picture},
                              #{tzw_item_createDate},
                              #{tzw_item_jifen},
                              #{tzw_item_jingpai},
                              #{tzw_item_content},
                              #{tzw_item_new},
                              #{tzw_item_type},
                              #{tzw_item_leibie},
                              #{tzw_item_choujiang}
                             )
    </insert>

    <!--void addChouJiang(Choujiang choujiang);
   void addJiFen(JiFen jiFen);
   void addJingPai(JingPai jingPai);-->

    <insert id="addChouJiang" parameterType="com.tzw.pojo.Choujiang">
         insert into tzw_choujiang (tzw_choujiang_item_id,
                                      tzw_choujiang_houNum,
                                      tzw_choujiang_preNum,
                                      tzw_choujiang_jifen,
                                      tzw_choujiang_yue,
                                      tzw_choujiang_xianjin,
                                      tzw_choujiang_createDate
                         ) values (
                         #{tzw_choujiang_item_id},
                         #{tzw_choujiang_houNum},
                         #{tzw_choujiang_preNum},
                         #{tzw_choujiang_jifen},
                         #{tzw_choujiang_yue},
                         #{tzw_choujiang_xianjin},
                         #{tzw_choujiang_createDate}
                         );
    </insert>

         <insert id="addJiFen" parameterType="com.tzw.pojo.JiFen">
         insert into tzw_jifen (tzw_jifen_createDate,
                                      tzw_jifen_item_id,
                                      tzw_jifen_yue,
                                      tzw_jifen_xianjin,
                                      tzw_jifen_num
                         ) values (
                         #{tzw_jifen_createDate},
                         #{tzw_jifen_item_id},
                         #{tzw_jifen_yue},
                         #{tzw_jifen_xianjin},
                         #{tzw_jifen_num}
                         );
         </insert>

         <insert id="addJingPai" parameterType="com.tzw.pojo.JingPai">
         insert into tzw_jingpai (tzw_jingpai_createDate,
                                      tzw_jingpai_item_id,

                                      tzw_jingpai_liupai,
                                      tzw_jingpai_jifen,
                                      tzw_jingpai_yue,
                                      tzw_jingpai_xianjin,
                                      tzw_jingpai_num
                         ) values (
                         #{tzw_jingpai_createDate},
                         #{tzw_jingpai_item_id},
                         #{tzw_jingpai_liupai},
                         #{tzw_jingpai_jifen},
                         #{tzw_jingpai_yue},
                         #{tzw_jingpai_xianjin},
                         #{tzw_jingpai_num}
                         );
         </insert>

<!--
    Item findItemByName(HashMap<String,Object> map);
-->

    <select id="findItemByName" parameterType="map" resultType="com.tzw.pojo.Item">
        SELECT * from tzw_item  where tzw_item_name=#{tzw_item_name}
                                 AND tzw_item_num=#{tzw_item_num}
                                 AND tzw_item_price=#{tzw_item_price}
    </select>

    <update id="updateById">

        UPDATE tzw_item SET tzw_item_name=#{tzw_item_name},
                              tzw_item_num=#{tzw_item_num},
                              tzw_item_status=#{tzw_item_status},
                            <if test="tzw_item_picture!=null and tzw_item_picture!=''">
                                tzw_item_picture=#{tzw_item_picture},
                            </if>
                              tzw_item_updateDate=#{tzw_item_updateDate},
                              tzw_item_desc=#{tzw_item_desc},
                              tzw_item_jifen=#{tzw_item_jifen},
                              tzw_item_jingpai=#{tzw_item_jingpai},
                              tzw_item_choujiang=#{tzw_item_choujiang},
                              tzw_item_content=#{tzw_item_content},
                              tzw_item_new=#{tzw_item_new}
                        WHERE  tzw_item_id=#{tzw_item_id}

    </update>


    <!--从抽奖表里删除-->
    <delete id="delChoujiang" parameterType="bigInteger">
        DELETE  from tzw_choujiang WHERE  tzw_choujiang_item_id=#{tzw_item_id}
    </delete>
    <!--从积分表里删除-->
    <delete id="delJiFen" parameterType="bigInteger">
        DELETE  from tzw_jifen WHERE  tzw_jifen_item_id=#{tzw_item_id}
    </delete>
    <!--从竞拍表里删除-->
    <delete id="delJingPai" parameterType="bigInteger">
        DELETE  from tzw_jingpai WHERE  tzw_jingpai_item_id=#{tzw_item_id}
    </delete>

</mapper>
