<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzw.mapper.ItemMapper" >

    <select id="itemList" resultType="com.tzw.pojo.Item">

        select t1.tzw_item_id,t1.tzw_item_name,t1.tzw_item_price,t1.tzw_item_num,
        t1.tzw_item_status,t1.tzw_item_picture,t1.tzw_item_desc,t1.tzw_item_status1
         from tzw_item t1
    </select>

    <select id="findItemById" parameterType="bigInteger" resultType="com.tzw.pojo.Item">
          select t1.tzw_item_id,t1.tzw_item_name,t1.tzw_item_price,t1.tzw_item_num,
        t1.tzw_item_status,t1.tzw_item_picture,t1.tzw_item_desc
         from tzw_item t1 WHERE t1.tzw_item_id=#{t1.tzw_item_id}
    </select>




    <select id="selectByMap" resultType="com.tzw.pojo.Item" parameterType="map">
        select t1.tzw_item_id,t1.tzw_item_name,t1.tzw_item_price,t1.tzw_item_num,
        t1.tzw_item_status,t1.tzw_item_picture,t1.tzw_item_desc,t1.tzw_item_createDate,t1.tzw_item_updateDate
        from tzw_item t1

    <if test="lname!=null">

            WHERE t1.tzw_item_name LIKE  concat('%',#{lname},'%')

        </if>
        limit #{cpage},#{size}
    </select>

    <!--SELECT count(*) from tzw_order m where m.tzw_order_user_id;
-->

    <select id="peopleNum" resultType="int" parameterType="bigInteger">
    SELECT count(*) from tzw_order m where m.tzw_order_user_id=#{tzw_order_user_id}
    </select>

<!--
    searchItemList
-->
    <!--<select id="searchItemList" resultType="com.tzw.pojo.Item" parameterType="map">

        select t1.tzw_item_id,t1.tzw_item_name,t1.tzw_item_price,t1.tzw_item_num,
        t1.tzw_item_status,t1.tzw_item_picture,t1.tzw_item_desc
        from tzw_item t1 where t1.tzw_item_name LIKE  concat('%',#{lname},'%')
    </select>
-->
    <!--getTotal-->
    <select id="getTotal" resultType="int" parameterType="map">

        select count(*) from tzw_item t1

        <if test="lname!=null">

            WHERE t1.tzw_item_name LIKE  concat('%',#{lname},'%')

        </if>
    </select>

    <delete id="del" parameterType="bigInteger" >
        DELETE  from tzw_item where tzw_item_id=#{tzw_item_id}
    </delete>

</mapper>
