<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzw.mapper.LoginMapper" >

    <select id="login" resultType="com.tzw.pojo.Owner" parameterType="map">
        SELECT  * from tzw_owner where tzw_owner_pwd=#{tzw_owner_pwd} and tzw_owner_name=#{tzw_owner_name}
    </select>
</mapper>