<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzw.mapper.UserMapper">



    <select id="findUserList" resultType="com.tzw.pojo.User" parameterType="map">

        select tzw_user_pwd,
        tzw_user_username,
        tzw_user_phone,
        tzw_user_address,
        tzw_user_score,
        tzw_user_money,
        tzw_user_id,
        tzw_user_sex,
        tzw_user_createDate,
        tzw_user_updateDate,
        tzw_user_vip
        from tzw_user
        <if test="lname!=null">

            WHERE tzw_user_username LIKE  concat('%',#{lname},'%')

        </if>
        limit #{cpage},#{size}
    </select>



    <!--修改回显-->

    <select id="findUserById" parameterType="bigInteger" resultType="com.tzw.pojo.User">
        select tzw_user_pwd,
        tzw_user_username,
        tzw_user_phone,
        tzw_user_address,
        tzw_user_score,
        tzw_user_money,
        tzw_user_id,
        tzw_user_createDate,
        tzw_user_updateDate,
        tzw_user_vip
        from tzw_user
        where tzw_user_id=#{tzw_user_id}
    </select>
    <!--修改用户信息-->

    <update id="updateUser" parameterType="com.tzw.pojo.User" >

        update tzw_user t set
        t.tzw_user_pwd=#{tzw_user_pwd},
        t.tzw_user_username=#{tzw_user_username},
        t.tzw_user_phone=#{tzw_user_phone},
        t.tzw_user_address=#{tzw_user_address},
        t.tzw_user_score=#{tzw_user_score},
        t.tzw_user_money=#{tzw_user_money},
        t.tzw_user_createDate=#{tzw_user_createDate},
        t.tzw_user_updateDate=#{tzw_user_updateDate},
        t.tzw_user_vip=#{tzw_user_vip},
        t.tzw_user_sex=#{tzw_user_sex}
        where t.tzw_user_id=#{tzw_user_id}
    </update>

    <!--删除用户-->

    <delete id="deleteUser" parameterType="bigInteger">

        DELETE  from tzw_user where tzw_user_id=#{tzw_user_id}

    </delete>

    <!--查询记录条数-->

    <select id="getTotal" parameterType="map" resultType="int">
        SELECT count(*) from tzw_user
        <if test="lname!=null">

            WHERE tzw_user_username LIKE  concat('%',#{lname},'%')

        </if>
    </select>

    <select id="scoreNum" parameterType="bigInteger" resultType="bigInteger">
        SELECT sum(tzw_score_num) from tzw_score where tzw_score_user_id=#{tzw_score_user_id}
    </select>

    <select id="moneyNum" resultType="double" parameterType="bigInteger">
        SELECT SUM(tzw_money_num) from tzw_money where tzw_money_user_id=#{tzw_money_user_id}
    </select>

    <select id="orderNum" parameterType="bigInteger" resultType="int">
        SELECT count(*) from tzw_order where tzw_order_user_id=#{tzw_order_user_id}
    </select>


    <!--积分详情-->
    <select id="findScoreById" parameterType="map" resultType="com.tzw.pojo.Score">
        SELECT * from tzw_score   WHERE  tzw_score_user_id=#{tzw_score_user_id} limit #{cpage},#{size}
    </select>
    <select id="getScoreCount" parameterType="bigInteger" resultType="int">

        SELECT COUNT(*) from tzw_score where tzw_score_user_id=#{tzw_score_user_id}
    </select>

    <!--余额详情-->
    <select id="findMoneyById" parameterType="map" resultType="com.tzw.pojo.Money">
        SELECT * from tzw_money   WHERE  tzw_money_user_id=#{tzw_money_user_id} limit #{cpage},#{size}
</select>
    <select id="getMoneyCount" parameterType="bigInteger" resultType="int">

        SELECT COUNT(*) from tzw_money where tzw_money_user_id=#{tzw_money_user_id}
    </select>
    <!--订单详情-->
    <select id="findOrderById" parameterType="map" resultType="com.tzw.pojo.Order">
        SELECT * from tzw_order   WHERE  tzw_user_id=#{tzw_user_id} limit #{cpage},#{size}
    </select>
    <select id="getOrderCount" parameterType="bigInteger" resultType="int">
        SELECT COUNT(*) from tzw_order where tzw_user_id=#{tzw_user_id}
    </select>

    <!--添加进score-->
    <insert id="addScore" parameterType="com.tzw.pojo.Score">
        insert into tzw_score(
        tzw_score_num,
        tzw_score_updateDate,
        tzw_score_createDate,
        tzw_score_type,
        tzw_score_user_id,
        tzw_score_size,
        tzw_score_desc
        ) values (#{tzw_score_num},
                   #{tzw_score_updateDate},
                   #{tzw_score_createDate},
                   #{tzw_score_type},
                   #{tzw_score_user_id},
                   #{tzw_score_size},
                    #{tzw_score_desc})
    </insert>
    <!--添加进money-->
    <insert id="addMoney" parameterType="com.tzw.pojo.Money">
        insert into tzw_score(
        tzw_money_num,
        tzw_money_updateDate,
        tzw_money_createDate,
        tzw_money_type,
        tzw_money_user_id,
        tzw_money_desc,
        tzw_money_size
        ) values (#{tzw_money_num},
        #{tzw_money_updateDate},
        #{tzw_money_createDate},
        #{tzw_money_type},
        #{tzw_money_user_id},
        #{tzw_money_desc},
        #{tzw_money_size})
    </insert>
</mapper>